.cabeicalho{
    align-items: center;
    background:linear-gradient(40deg, #5300C8, #9303A6 , #8C0375);
    display: flex;
    justify-content: center;
    height: 96px;
    width: 100%;
     gap: 0px;
}
.cabeicalho__titulo-img{
    width: 138px;
    height: 56px;
}
.cabeicalho__titulo{
    width: 236px;
    height: 51px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-family: var(--fonte-principal);
    font-size: 24px;
    font-weight: 400;
    line-height: 16px;
}
@media(max-width: 470px){
    .cabeicalho__titulo{
        font-size: 18px;
    }
    .cabeicalho__titulo-img{
        width: 40%;
    }
}